
body {
    padding: 20px 20px 20px 20px;
    background-color: #ececec; /* colour codes at: http://www.w3schools.com/tags/ref_colorpicker.asp */
    color: #333333;  /* font color */
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; /* http://cssfontstack.com/ */
}

h1 {
    color: #880000;
}
h2 {
    color: #007700;
}

.parastyle {
    background: #ffffff;
    padding: 20px;
    font-size: 1.1em;  /* 110% of default font size */

    font-family: Copperplate, "Copperplate Gothic Light", fantasy;    /* http://cssfontstack.com/ */
    border-radius: 0.5em 0.5em 0.5em 0.5em; /* 50% border radius */

    box-shadow: 0px 0px 10px #333333; /* http://www.css3.info/preview/box-shadow/ */
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
}

/* default link styles */
a:link, a:visited, a:active {
    color: #333333;
    text-decoration: underline;
}
a:hover {
    color: #000066;
    text-decoration: none;
    background-color: yellow;
}
