body {
    padding: 20px 20px 20px 20px;
    background-color: #ececec; /* colour codes at: http://www.w3schools.com/tags/ref_colorpicker.asp */
    color: #333333;  /* font color */
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; /* http://cssfontstack.com/ */
}

h1 {
    color: #880000;
}
h2 {
    color: #007700;
}

.fancy {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0.5em; /* 50% border radius */
    font-size: 1.2em;  /* 120% of default font size */
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;    /* http://cssfontstack.com/ */
}
.blue-text {
    color: #0000ff;
}

.rounded-corner {
    border-radius: 0.5em; /* 50% border radius */
    box-shadow: 0px 0px 10px #333333; /* http://www.css3.info/preview/box-shadow/ */
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
}

/* default link styles */
a:link, a:visited, a:active {
    color: #333333;
    text-decoration: underline;
}
a:hover {
    color: #000066;
    text-decoration: none;
    background-color: yellow;
}

/* cool link styles */
a.cool:link, a.cool:visited, a.cool:active {
    color: #ffffff;
    padding: 5px 5px 5px 5px; /* top, right, bottom, left */
    text-decoration: none;
    background-color: #333333;
}
a.cool:hover {
    color: #000066;
    background-color: yellow;
    box-shadow: 2px 2px 10px #333333; /* http://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
    -moz-box-shadow: 2px 2px 10px #333333;
    -webkit-box-shadow: 2px 2px 10px #333333;
}
